<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- Файловый аппендер -->
        <RollingFile name="file" fileName="/logs/log-application.log" filePattern="./log-application-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
        <!-- Консольный аппендер -->
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <!-- JDBC аппендер -->
        <JDBC name="db" tableName="APP_LOGS">
            <DriverManager connectionString="jdbc:postgresql://127.0.0.1:5433/db_blog" driverClassName="org.postgresql.Driver"
                           username="postgres" password="qwerty"/>
            <Column name="LOG_ID" pattern="%u" isUnicode="false"/>
            <Column name="ENTRY_DATE" isEventTimestamp="true" isUnicode="false"/>
            <Column name="LOGGER" pattern="%logger" isUnicode="false"/>
            <Column name="LOG_LEVEL" pattern="%level" isUnicode="false"/>
            <Column name="MESSAGE" pattern="%m" isUnicode="false"/>
            <Column name="EXCEPTION" pattern="%throwable " isUnicode="false"/>
        </JDBC>
    </Appenders>
    <Loggers>
        <!-- Корневой логгер -->
        <Root level="trace">
            <AppenderRef ref="file" level="TRACE"/>
            <AppenderRef ref="console" level="DEBUG"/>
        </Root>
        <!-- Мои логгеры -->
        <!-- Не логируем в БД в классе который пересоздаёт БД -->
        <Logger name="ru.innopolis.university.fomin.part1.lesson25.DatabaseUtil" level="info" additivity="false">
            <AppenderRef ref="file" level="TRACE"/>
            <AppenderRef ref="console" level="DEBUG"/>
        </Logger>
<!--        <Logger name="ru.innopolis.university.fomin.part1" level="trace" additivity="true">-->
<!--            <AppenderRef ref="db" level="INFO"/>-->
<!--        </Logger>-->
    </Loggers>
</Configuration>